<mat-toolbar color="primary" style="position: fixed; top: 0; right: 0;z-index: 999;">
    <mat-toolbar-row>
      <span>Mumbai Diary</span>
      <button mat-button  routerLink="/page1" routerLinkActive="active" >PAGE1</button>
      <button mat-button routerLink="/page2" routerLinkActive="active">PAGE2</button>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<div style="margin-top: 50px;">
    <router-outlet></router-outlet>
</div>
